/* Style général */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Couleur de la navbar */
.bg-orange {
    background-color: #ff6600;
}

/* Pied de page */
footer {
    margin-bottom: 0;
}

/* Conteneur principal */
.main-content {
    display: flex;
    flex-wrap: wrap;
}

/* Texte défilant */
.text-carousel {
    padding: 20px;
    background-color: #f8f9fa;
}

/* Style pour la vidéo */
.video-background {
    position: relative;
    display: flex;
    justify-content: left;
    align-items: left;
    overflow: hidden;
    width: 70%;
    height: 70vh;
}

.video-background video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.7); /* Effet assombri */
}

/* Scrolling texte */
.scrolling-text {
    max-height: 500px;
    overflow-y: auto;
}




/* Contenu de la page */
.container {
    max-width: 1200px;
    margin: 0 auto;
}

h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
}

h4 {
    font-size: 1.5rem;
    color: #555;
}

ul {
    font-size: 1.2rem;
    list-style-type: square;
    padding-left: 20px;
}

/* Photo */
img.img-fluid {
    max-width: 100%;
    border: 3px solid #333;

}


/* Bouton de téléchargement */
.btn-primary {
    background-color: #9329da;
    border: none;
}

.btn-primary:hover {
    background-color: #e55b00;

}